<form action="/new-message" method="POST" class="form message-form">
  <div class="form-section">
    <label for="message">Message</label>
    <textarea name="message" id="message"></textarea>
  </div>
  <button class="submit">Send</button>
</form>