@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #1f2937;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  margin: 0 auto;
  padding: 0.8rem 2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

header .page-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #9333ea;
  margin-right: auto;
}

header .primary-action {
  background-color: #9333ea;
  color: #fff;
  border: 0;
  border-radius: 0.8rem;
  max-width: max-content;
  font-weight: 600;
}

header .primary-action a {
  width: 100%;
  padding: 0.5rem 1.1rem;
}

header .secondary-action {
  color: #9333ea;
  font-weight: 600;
}

.sign-up-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up {
  margin: 0 2rem;
  width: 100%;
  max-width: 500px;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
}

.sign-up a {
  color: #9333ea;
}

.sign-up h1 {
  margin-bottom: 2px;
  text-align: center;
}

.sign-up .subtitle {
  margin-bottom: 1rem;
  color: #64748b;
  text-align: center;
}

.form-section {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.sign-up > div:nth-child(1) {
  margin-bottom: 1.5rem;
}

.sign-up label {
  font-weight: 500;
}

.sign-up input {
  border-radius: 0.6rem;
  padding: 0.6rem 1.1rem;
  font-size: 1rem;
  border: 1px solid #64748b;
}

.sign-up input:focus {
  outline: 0;
  border: 1px solid #a855f7;
  box-shadow: #a855f7 0px 0px 8px;
}

.sign-up .submit {
  font-size: inherit;
  padding: 0.7rem 1.5rem;
  border: 0;
  background-color: #9333ea;
  color: #fff;
  border-radius: 0.6rem;
  width: max-content;
  align-self: flex-end;
}

.sign-up .submit:hover {
  cursor: pointer;
}

.error {
  color: #dc2626;
  margin-bottom: 0.5rem;
}
