@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

body {
  min-height: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #1f2937;
}

a {
  color: #00b7ff;
}

.sign-up-wrapper {
  border-top: 1rem solid #00b7ff;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up {
  width: 500px;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
}

.sign-up h1 {
  margin-bottom: 2px;
  text-align: center;
}

.sign-up .subtitle {
  margin-bottom: 1rem;
  color: #64748b;
  text-align: center;
}

.form-section {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.sign-up > div:nth-child(1) {
  margin-bottom: 1.5rem;
}

.sign-up label {
  font-weight: 500;
}

.sign-up input {
  border-radius: 0.6rem;
  padding: 0.6rem 1.1rem;
  font-size: 1rem;
  border: 1px solid #64748b;
}

.sign-up input:focus {
  outline: 0;
  border: 1px solid #22d3ee;
  box-shadow: #22d3ee 0px 0px 8px;
}

.sign-up .submit {
  font-size: inherit;
  padding: 0.7rem 1.5rem;
  border: 0;
  background-color: #00b7ff;
  color: #fff;
  border-radius: 0.6rem;
  width: max-content;
  align-self: flex-end;
}

.sign-up .submit:hover {
  cursor: pointer;
}

.error {
  color: #dc2626;
  margin-bottom: 0.5rem;
}
