@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #1f2937;
  display: flex;
  flex-direction: column;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  width: 100%;
  margin: 0 auto;
  padding: 0.8rem 2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

header .page-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #9333ea;
  margin-right: auto;
}

header .primary-action {
  background-color: #9333ea;
  color: #fff;
  border: 0;
  border-radius: 0.8rem;
  max-width: max-content;
  font-weight: 600;
}

header .primary-action a {
  width: 100%;
  padding: 0.5rem 1.1rem;
}

header .secondary-action {
  color: #9333ea;
  font-weight: 600;
}

.center-wrapper {
  flex: 1;
  height: 100%;
  gap: 3rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.center-vertical {
  gap: 0;
  align-items: center;
}

.center-wrapper h1 {
  font-size: 1.5rem;
  font-weight: 700;
}

.form {
  margin: 0 2rem;
  width: 100%;
  max-width: 500px;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
}

.form a {
  color: #9333ea;
}

.form h1 {
  margin-bottom: 2px;
  text-align: center;
}

.form .subtitle {
  margin-bottom: 1rem;
  color: #64748b;
  text-align: center;
}

.form-section {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.activate-form-wrapper {
  display: flex;
  flex-direction: column;
}

.activate-form .subtitle {
  margin-bottom: 2rem;
}

.activate-form h1 {
  font-size: 1.7rem;
}

.activate-form .form-section {
  flex-direction: row;
  width: 100%;
}

.activate-form .form-section input {
  width: 100%;
}

.form > div:nth-child(1) {
  margin-bottom: 1.5rem;
}

.form label {
  font-weight: 500;
}

.form input,
.form textarea {
  border-radius: 0.6rem;
  padding: 0.6rem 1.1rem;
  font-size: 1rem;
  border: 1px solid #64748b;
}

.form input:focus,
.form textarea:focus {
  outline: 0;
  border: 1px solid #a855f7;
  box-shadow: #a855f7 0px 0px 8px;
}

.form .submit {
  font-size: inherit;
  padding: 0.7rem 1.5rem;
  border: 0;
  background-color: #9333ea;
  color: #fff;
  border-radius: 0.6rem;
  width: max-content;
  align-self: flex-end;
}

.form .submit:hover {
  cursor: pointer;
}

.error {
  color: #dc2626;
  margin-bottom: 0.5rem;
}

.messages-list {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.message-form label {
  font-size: 1.1rem;
}

.message-form textarea {
  resize: none;
  height: 150px;
}

.message-block {
  border-left: 10px solid #c084fc;
  padding: 0 1.5rem;
  height: max-content;
}

.message-block .title {
  font-weight: 700;
  display: flex;
}

.message-block .title .delete {
  margin-left: 0.5rem;
}

.message-block .title .delete:hover {
  cursor: pointer;
}

.delete-icon {
  width: 24px;
  height: 24px;
  color: #7e22ce;
}
